@page
@model CityBreaks.Pages.Cities.CreateModel
@{
    ViewData["Title"] = "Create City";
}

<h4>Create City</h4>

<div class="col-6">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" asp-for="CityName"></label>
            <input class="form-control" asp-for="CityName" />
            <span class="text-danger" asp-validation-for="CityName"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="UploadedFile"></label>
            <input class="form-control" accept="image/jpeg, image/jpg, image/png" asp-for="UploadedFile" />
            <span class="text-danger" asp-validation-for="UploadedFile"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}