@page
@{
    ViewData["Title"] = "City Created Successfully";
}

<h1>Success!</h1>

@if (TempData["CityName"] is not null)
{
    <div class="col-6">
        <h3>@TempData["CityName"]</h3>
        <p>@Html.Raw(TempData["Description"])</p>
        <img src="/images/cities/@TempData["FileName"]" class="img-fluid" alt="@TempData["CityName"]" />
    </div>
}