@page
@model CityBreaks.Areas.Admin.Pages.Roles.CreateModel
@{
    ViewData["Title"] = "Create Role ― Admin";
}

<h2>Create Role</h2>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="/Roles/Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}