@page
@model CityBreaks.Areas.Admin.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Roles ― Admin";
}

<h1>Roles</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        @if (Model.Roles.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                @foreach (var role in Model.Roles)
                {
                    <tbody>
                        <tr>
                            <td>@role.Name</td>
                        </tr>
                    </tbody>
                }
            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <p>No roles found.</p>
            </div>
        }
    </div>
</div>
