@page
@model CityBreaks.Pages.LifetimeDemoModel
@{
    ViewData["Title"] = "Lifetime Demo";
}
<h2>Service Lifetime Demo</h2>
<p class="lead">The first scoped service returned @Model.Value</p>
<p class="lead">The second scoped service returned @Model.SecondValue</p>