@page
@model CityBreaks.Pages.LifetimeDemoModel
@{
    ViewData["Title"] = "Lifetime Demo";
}
<h2>Service Lifetime Demo</h2>
<p class="lead">The first transient service returned @Model.Value</p>
<p class="lead">The second transient service returned @Model.SecondValue</p>