@page
@model CityBreaks.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="col-4">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="UserName"></label>
            <input class="form-control" asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Sign in</button>
            <a class="mx-1" asp-page="./Index">Go Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
