@page
@model CityBreaks.Areas.Admin.Pages.Claims.AssignModel
@{
    ViewData["Title"] = "Assign Claim ― Admin";
}

<h2>Assign Claim To User</h2>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="mb-3">
                <label asp-for="SelectedUserId" class="form-label"></label>
                <select asp-for="SelectedUserId" asp-items="Model.Users" class="form-select"></select>
                <span asp-validation-for="SelectedUserId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClaimType" class="form-label"></label>
                <input asp-for="ClaimType" class="form-control" />
                <span asp-validation-for="ClaimType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClaimValue" class="form-label"></label>
                <input asp-for="ClaimValue" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Assign" class="btn btn-primary" />
                <a asp-page="/Claims/Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
