@page
@model CityBreaks.Pages.Countries.CreateModel
@{
    ViewData["Title"] = "Create Country";
}

<h4>Create Country</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Input.CountryName">Name</label>
                <input class="form-control" asp-for="Input.CountryName" />
                <span class="text-danger" asp-validation-for="Input.CountryName"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Input.CountryCode">ISO-3166-1 Code</label>
                <input class="form-control" asp-for="Input.CountryCode" />
                <span class="text-danger" asp-validation-for="Input.CountryCode"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Country.CountryCode) && !string.IsNullOrEmpty(Model.Country.CountryName))
{
    <p>
        You submitted @Model.Country.CountryName
        <img src="~/images/flags/@(Model.Country.CountryCode).png" alt="Country flag" />
    </p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}