@page
@model CityBreaks.Pages.Properties.CreateModel
@{
    ViewData["Title"] = "Create Property";
}

@if (Request.HasFormContentType)
{
    <p>@Model.Message</p>
}
<form method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="SelectedCity"></label>
        <select class="form-select" asp-for="SelectedCity" asp-items="Model.Cities"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="MaxNumberOfGuests"></label>
        <input class="form-control" asp-for="MaxNumberOfGuests" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="DayRate"></label>
        <input class="form-control" asp-for="DayRate" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="AvailableFrom"></label>
        <input class="form-control" asp-for="AvailableFrom" />
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" asp-for="IsSmokingPermitted" />
        <label class="form-check-label" asp-for="IsSmokingPermitted"></label>
    </div>
    <p>Rating</p>
    <div class="mb-3">
        @{
            var items = Html.GetEnumSelectList<Rating>();
            var firstItem = items.First();
            
            foreach (var option in items)
            {
                var isChecked = option.Value == firstItem.Value;
                <div class="form-check">
                    <input class="form-check-input" asp-for="Rating" id="rating-@option.Value" type="radio" value="@option.Value" checked="@isChecked">
                    <label class="form-check-label" for="rating-@option.Value">@option.Text</label>
                </div>
            }
        }
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">
            Submit
        </button>
    </div>
</form>