@page
@model CityBreaks.Pages.Properties.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Property.Id" />
            <div class="mb-3">
                <label asp-for="Property.Name" class="form-label"></label>
                <input asp-for="Property.Name" class="form-control" />
                <span asp-validation-for="Property.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Property.Address" class="form-label"></label>
                <input asp-for="Property.Address" class="form-control" />
                <span asp-validation-for="Property.Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Property.MaxNumberOfGuests" class="form-label"></label>
                <input asp-for="Property.MaxNumberOfGuests" class="form-control" />
                <span asp-validation-for="Property.MaxNumberOfGuests" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Property.DayRate" class="form-label"></label>
                <input asp-for="Property.DayRate" class="form-control" />
                <span asp-validation-for="Property.DayRate" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="Property.IsSmokingPermitted" />
                <label class="form-check-label" asp-for="Property.IsSmokingPermitted"></label>
            </div>
            <div class="mb-3">
                <label asp-for="Property.AvailableFrom" class="form-label"></label>
                <input asp-for="Property.AvailableFrom" class="form-control" />
                <span asp-validation-for="Property.AvailableFrom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Property.CityId" class="form-label"></label>
                <select asp-for="Property.CityId" class="form-select" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="Property.CityId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
