@page "{id:int}"
@model CityBreaks.Pages.Properties.EditModel

@{
    ViewData["Title"] = "Edit Property";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MaxNumberOfGuests" class="form-label"></label>
                <input asp-for="MaxNumberOfGuests" class="form-control" />
                <span asp-validation-for="MaxNumberOfGuests" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DayRate" class="form-label"></label>
                <input asp-for="DayRate" class="form-control" />
                <span asp-validation-for="DayRate" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="IsSmokingPermitted" />
                <label class="form-check-label" asp-for="IsSmokingPermitted"></label>
            </div>
            <div class="mb-3">
                <label asp-for="AvailableFrom" class="form-label"></label>
                <input asp-for="AvailableFrom" class="form-control" />
                <span asp-validation-for="AvailableFrom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CityId" class="form-label"></label>
                <select asp-for="CityId" class="form-select" asp-items="Model.Cities"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
