@if (User.Identity!.IsAuthenticated)
{

    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-area="Admin" asp-page="/Roles/Index">Roles</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-page="/Roles/Create">Create role</a></li>
        </ul>
    </li>
}